{% extends 'base.html' %}

{% block head %}
<title>COMPLETED TASKS</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">COMPLETED TASKS</h1>
    {% if data|length<1 %}
    <h4 style="text-align: center">There are no tasks done!!!please do it fast!!!</h4>
    
    {% else %}
    
    
    <table>
        <tr>
            <th>Task</th>
            <th>task completed on</th>

        </tr>
        {% for d in data %}
            <tr>
                <td>{{d[1]}}</td>
                <td>{{d[3]}}</td>   
               

                
                
               
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <a href="/">back</a>
    
    
    

    
</div>
{% endblock %}

