{% extends 'base.html' %}

{% block head %}
<title>TODO LIST MANAGER</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">TODO LIST MANAGER</h1>
    {% if data|length<1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added on</th>
            <th>Removed on</th>
            <th>Actions</th>
            <th>overdue status</th>
        </tr>
        {% for d in data %}
            <tr>
                <td>{{d[1]}}</td>   
                <td>{{ d[2] }}</td>
                <td>{{ d[3] }}</td>
                

                
                
                <td>
                    <a href="/done/{{d[0]}}">Mark as Done</a>
                    <br>
                    
                </td>
                <td>{{d[4]}}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    
    

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content",value="content">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div>

<div class="weekly_schedule">
    <h2><a href="/weekly_schedule">View Weekly Schedule</a></h2>
</div>

{% endblock %}
